<html>
    <head>
      <title>Ninja Gold Game</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
    </head>
    <body>
      <div id = "container">
        <h1>Welcome to the Ninja Gold Game</h1>

            <p>Your Gold:</p>
            <p>{{session['count']}}</p>

            <div class="box">
                <h2>Farm</h2>
                    <p>Earns 10-20 Golds</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="farm" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
            </div>

            <div class="box">
                <h2>Cave</h2>
                    <p>Earns 5-10 Golds</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="cave" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
            </div>

            <div class="box">
                <h2>House</h2>
                    <p>Earns 2-5 Golds</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
            </div>

            <div class="box">
                <h2>Casino</h2>
                    <p>Earns/Takes 0-50 Golds</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
            </div>

            <div class="activities">
                <h2>Activities</h2>
                {% if session['activities'] %}
                    {% for activity in session['activities'] %}
                        {% if 'Earned' not in activity %}
                            <p class = "lose">{{activity}}</p>
                        {% else %}
                            <p class = "win">{{activity}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>
