<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Access Control Origin</title>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    // $('form').submit(function() {
		    //     var url = "https://itunes.apple.com/search?term=";
		    //     url += $('#user_input').val();
		    //     url += "&entity=musicVideo";
		    //     $.get(url, function(res) {
		    //         if(res.results.length !== 0) {
		    //             html_string = "<video controls src='" +
		    //                            res.results[0].previewUrl +
		    //                            "'><\/video>";
			  	// 	console.log(html_string);
		    //         } else {
		    //             html_string = "Not Found";
		    //         }
		    //         $('#results').html(html_string);
		    //     }, 'json');
		    //     return false;
		    // });

		    $('form').submit(function() {
		        // load up any gif you want, this will be shown while user is waiting for response
		        $.post($(this).attr('action'), $(this).serialize(), function(res) {
		            // pay careful attention to the response object
		            // console.log('the response object:');
		            // console.log(res);
		            var html_string = "";
		            if(res.results.length !== 0) {
		                html_string = "<video controls src='" + res.results[0].previewUrl + "'></video>";
		            } else {
		                html_string = "Not Found";
		            }
		            console.log('the html string:');
		            console.log(html_string);
		            $('#results').html(html_string);
		        }, 'json');
		        // don't forget, without it the page will refresh
		        return false;
		    });

		});
	</script>
    <style>
    body {
    align-content: center;
    margin: 30px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    }
    form {
    padding: 10px;
    margin:auto;
    }
    div {
    margin:30px;
    }
    </style>
</head>
<body>
	<h1>Enter Artist's Name:</h1>
	<form action="/main/get_movie" method="post">
	    <label for="user_input">Enter Artists's Name:</label>
	    <input id="user_input" name="user_input" type="search">
	    <input type="submit" value="search">
	</form>
	<div id="results"></div>
</body>
</html>
