<html>
  <head>
      <title>Time Pylot Assignment</title>
      <style>
          body {
            font-family: sans-serif;
            text-align: center;
          }
          div {
             display:inline-block;
             width: 500px;
             height: auto;
             border: 1px solid black;
             margin:auto;
             padding:10px;
          }
      </style>
  </head>
  <body>
    <div>
        <h1>The Current Time and Date Is:</h1>
            <h2>{{time}}</h2>
    </div>
  </body>
</html>
