<html>
    <head>
      <title>Registration Form with Validation</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
    </head>
    <body>
        <h1>Register Now</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        {% if category == 'error'%}
                            <p>{{category}} - {{messages}}</p>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="main">
            <fieldset style="background-color: #F0FFF0;">
                <legend>New User Registration:</legend>
                    <form action='/process' method='POST'>
                        <label>First Name:<br /><input type="text" name="first_name" placeholder="First Name"></label><br />
                        <label>Last Name:<br /><input type="text" name="last_name" placeholder="Last Name"></label><br />
                        <label>Email:<br /><input type="text" name="email" placeholder="email@domain.com"></label><br />
                        <label>Password:<br /><input type="text" name="password" placeholder="Enter password" maxlength="20"></label><br />
                        <label>Confirm Password:<br /><input type="text" name="confirm" placeholder="Reenter password" maxlength="20"></label><br />
                        <input type="submit" value="Register">
                    </form>
                </legend>
            </fieldset>
        </div>
    </body>
</html>
