<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Django - Success</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'wall/css/style.css' %}">
        <style>
        body {
            background-image: url('{% static 'wall/img/hogsmeade.jpeg' %}');
            background-size: cover;
            background-repeat: no-repeat;
        }
        </style>
	</head>
	<body>
        <header>
            <nav id="nav_left">
                Welcome to Hogwarts!
            </nav>
            <nav id="nav_right">
                <form action="/logout">{% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </nav>
        </header>
        <section id="large">
        <h1>Show All Students</h1>
            <p>Current Information:</p>
            {% if messages %}
                {% for message in messages %}
                <h5 class="messages" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                {% endfor %}
            </h5>
            {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>House</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for user in users %}
                    <tbody>
                        <tr>
                            <td class="capitalize">{{ user.first_name }}</td>
                            <td class="capitalize">{{ user.last_name }}</td>
                            <td class="capitalize">{{ user.house }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="/show/{{user.id}}" method="GET">Show</a> |
                                <a href="/enroll/{{user.id}}" method="GET">Enroll</a> |
                                <a href="/edit/{{user.id}}" method="GET">Edit</a> |
                                <a href="/destroy/{{user.id}}" method="GET">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form action="/">{% csrf_token %}
                    <input type="submit" value="Back">
                </form>
        </section>
    </body>
</html>
