<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'book/css/style.css' %}">
        <style>
        body {
            background-image: url('{% static 'book/image/books.jpeg' %}');
            background-size: cover;
            background-repeat: no-repeat;
        }
        </style>
	</head>
	<body>
        <header>
            <nav id="nav_left">
		        Welcome to UBook Reviews!
            </nav>
            <nav id="nav_right">
                <form action="{% url 'process_user' process='login' %}" method="POST">
    				{% csrf_token %}
    					<input type="email" name="email" id="email_login" placeholder="email@domain.com">
    					<input type="password" name="password" id="password_login" placeholder="password">
                        <input type="submit" value="Login"></p>
    			</form>
            </nav>
        </header>
		<section>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
			<h1>Register</h1>
            <p>Sign-up to start reviewing books to share with other readers.</p>
			<form action="{% url 'process_user' process='register' %}" method="POST">
				{% csrf_token %}
				<p><label for="name">Name:</label></p>
					<input type="text" name="name" id="name">

				<p><label for="alias">Alias:</label></p>
					<input type="text" name="alias" id="alias">

				<p><label for="email_register">Email:</label></p>
					<input type="email" name="email" id="email_register">

				<p><label for="password_register">Password: *Password should be at least 8 characters</label></p>
					<input type="password" name="password" id="password_register">
				<p><label for="confirm_pw">Confirm Password:</label></p>
					<input type="password" name="confirm_pw" id="confirm_pw">
			    <p>
					<input type="submit" value="Register">
				</p>
		</form>
    </section>

            <h2 id="text">Where Readers Share Their Love of Books!<br />Share Your Reviews Today<h2>
            
		<!--<div id="login">
			<h2>Login</h2>
			<form action="{% url 'process_user' process='login' %}" method="POST">
				{% csrf_token %}
				<p><label for="email_login">Email:</label></p>
					<input type="email" name="email" id="email_login">

				<p><label for="password_login">Password:</label></p>
					<input type="password" name="password" id="password_login">

				<p><input type="submit" value="Login"></p>

			</form>
		</div>-->
	</body>
</html>
