<html>
    <head>
      <title>Flask Counter</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
    </head>
    <body>
      <h1>COUNTER</h1>
        <div>
            <h2>{{c}}</h2>

            <form action='/increment' method='post'>
                <input type='submit' value='Add 2'>
            </form>

            <form action='/reset' method='post'>
                <input type='submit' value='Reset'>
            </form>
        </div>
    </body>
</html>
