<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Post a Note</title>
    <meta name="description" content="Ajax Notes">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        function html_str(res){
            var html_str  = ""
            for (var i = 0; i < res.length; i++){
                html_str += "<section class='note'>\n";
                html_str += "<form action='/notes/update/" + res[i].id + "' method='POST' id='update'>\n";
                html_str += "<h3>" + res[i].title + "</h3>\n";
                html_str += "<textarea class='description' name='description' placeholder='Enter description here...' cols='50' rows='3'>";
                if (res[i].description){
                    html_str += res[i].description;
                }
                html_str += "</textarea>\n";
                html_str += "<input type='submit' value='update'>\n";
                html_str += "</form>\n";
                html_str += "<form action='/notes/delete/" + res[i].id + "' method='POST' id='delete'>\n";
                html_str += "<input type='submit' value='delete'>\n";
                html_str += "</form>\n";
                html_str += "</section>\n";
            }
            return html_str;
        }
        $(document).ready(function(){
            $(document).on('submit', 'form', function(){
                //console.log('is this?');
                console.log(this);
                var id = $(this).attr('id');
                if (id == 'add') {
                    $.post('/notes/add', $(this).serialize(), function(res){
                        $('#notes').html(html_str(res));
                        console.log(html_str(res));
                    }, 'json');
                }
                else if (id == 'delete'){
                    var url = $(this).attr('action');
                    $.post(url, $(this).serialize(), function(res){
                        $('#notes').html(html_str(res));
                    }, 'json');
                }
                else if (id == 'update'){
                    var url = $(this).attr('action');
                    $.post(url, $(this).serialize(), function(res){
                        $('#notes').html(html_str(res));
                    }, 'json');
                }
                return false;
            });
            $(document).on('click', 'h3', function(){
                var title = $(this).html();
                console.log(title.slice(0,12));
                if (title.slice(0,12) != "<input type="){
                    var action = $(this).siblings('#update').attr('action');
                    var html_str = "<input type='text' name='title' value='" + title + "'>\n";
                    $(this).html(html_str);
                }
            });
        });
    </script>
   </script>
    </head>
    <body>
        <div id="wrapper">
            <h1>Notes</h1>
            <div id="notes">
            {% for note in notes %}
                <section class="note">
                    <form action="/notes/update/{{ note['id'] }}" method="POST" id="update">
                        <h3>{{ note['title'] }}</h3>
                        <input type="hidden" name="update" value="description">
                        <textarea class="description" name="description" placeholder="Enter description here..." cols="50" rows="3">
                            {% if note['description'] %}
                                {{ note['description'] }}
                            {% endif %}
                        </textarea>
                        <input type="submit" value="update">
                    </form>
                    <form action="/notes/delete/{{ note['id'] }}" method="POST" id="delete">
                        <input type="submit" value="delete">
                    </form>
                </section>
            {% endfor %}
            </div>
            <form action="/notes/add" method="POST" id="add">
                <input type="text" name="title" placeholder="Insert note title here...">
                <input type="hidden" name="update" value="description">
                <textarea class="description" name="description" placeholder="Enter description here..." cols="50" rows="3"></textarea>
                <input type="submit" value="Add Note">
            </form>
        </div>
    </body>
</html>
